* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.nav {
  display: block;
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  max-width: 90%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-right: 20px;
  padding: 10px 16px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.welcome {
  background-image: url(img/cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  z-index: 1;
}

.welcome::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Projects Section */

#projects {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
  z-index: -2;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.project {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.project img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.github-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.github-button:hover {
  background-color: #555;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
}

.project p {
  color: #666;
  line-height: 1.6;
}

/* Style for the Services Section */
#services {
  padding: 50px 0;
  background-color: #f9f9f9; 
  text-align: center;
}

#services h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333; 
}

#services ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services li {
  width: calc(50% - 20px);
  margin: 20px;
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left;
}

#services h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
}

#services p {
  color: #666; 
  line-height: 1.6;
}

/* Style for the Testimonials Section */

#testimonials {
  padding: 50px 0;
  background-color: #eaeaea;
  text-align: center;
}

#testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.testimonial {
  width: calc(50% - 20px);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.testimonial blockquote {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial p {
  margin-top: 0;
  color: #666;
  line-height: 1.6;
}

/* Contact Section Styles */

#contact {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.contact-info {
  max-width: 600px;
  margin: 20px auto 0;
  text-align: left;
}

.contact-info p {
  margin-bottom: 10px;
}

.social-icons {
  font-size: 24px;
  margin-top: 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #555;
}

/* Footer Styles */
footer {
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}
